#toolbar {
    position: fixed;
    left : 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    padding: 8px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

#toolbar .tool {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#toolbar_tooltip {
    position: absolute;
    right: 0;
    top: 50%;

    width: max-content;
    max-width: 256px;

    transform: translate(calc(100% + 8px), -50%);

    background-color: var(--box-color);
    padding: 8px;
    visibility: hidden;
    pointer-events: none;
    
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#toolbar_tooltip.visible {
    visibility: visible;
}

#toolbar_tooltip .title {
    font-size: 16px;
    font-weight: bold;
}